.about-container {
  padding-top: 50px;
  background-color: rgb(242, 242, 206);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #25594e;
  padding-bottom: 50px;
}

.about-container .wrapper {
  width: 90vw;
  max-width: 1200px;
}

.about-title {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 700;
  letter-spacing: -0.05cm;
  color: var(--primary);
  font-family: "Concert One", sans-serif;
}

.about-container .wrapper .description-container {
  display: flex;
  gap: 100px;
}

.about-container .wrapper .description {
  text-align: justify;
}

.about-container .wrapper .skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-container .wrapper .skills .section .title {
  font-weight: 700;
  font-family: "Concert One", sans-serif;
  /* font-size: 2rem; */
  font-size: clamp(24px, 5vw, 40px);
}

@media (max-width: 1000px) {
  .about-container .wrapper .description-container {
    gap: 30px;
  }
}

@media (max-width: 1000px) {
  .about-container .wrapper .description-container {
    flex-direction: column;
  }

  .about-container .wrapper .skills {
    flex-direction: row;
  }
}

@media (max-width: 420px) {
  .about-container .wrapper .skills {
    flex-direction: column;
  }
}
