.about-container {
  padding-top: 50px;
  background-color: rgb(242, 242, 206);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.05cm;
  color: var(--primary);
  font-family: "Concert One", sans-serif;
}

.about-me-container {
  display: flex;
  width: 1000px;
  align-items: center;
  margin-bottom: 60px;
}

.about-me-container img {
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 200px rgb(0, 0, 0, 0.1);
}

.about-me-container .description-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.about-me-container .description-container .description.name {
  font-weight: 800;
  font-size: 2.2rem;
}

.about-me-container .description {
  display: flex;
  font-size: 20px;
  letter-spacing: -0.03cm;
  color: rgb(99, 143, 103);
  text-align: justify;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 1100px) {
  .about-me-container {
    width: 800px;
  }

  .about-me-container .description-container .description.name {
    font-size: 1.8rem;
  }

  .about-me-container .description {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .about-title {
    font-size: 3rem;
  }

  .about-me-container {
    width: 600px;
  }

  .about-me-container .description-container .description.name {
    font-size: 1.3rem;
  }

  .about-me-container .description {
    font-size: 12px;
  }

  .about-me-container img {
    height: 100px;
  }
}

@media (max-width: 720px) {
  .about-me-container {
    width: 400px;
  }

  .about-me-container .description-container .description.name {
    font-size: 1rem;
  }

  .about-me-container .description {
    font-size: 16px;
  }

  .about-me-container img {
    height: 100px;
  }
}
