.about-container {
  margin-left: 200px;
  padding-top: 50px;
}

.about-title {
  margin: 0px 55px;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  border-bottom: 2px solid lightgray;
  margin-right: 70px;
}

.description {
  margin: 0 0 10px 55px;
  display: flex;
  /* width: 70vw; */
  font-size: 2rem;
  color: gray;
}

@media (max-width: 1200px) {
  .description {
    font-size: 1.3rem;
  }
}

@media (max-width: 820px) {
  .about-container {
    margin-left: 35px;
  }
}

@media (max-width: 700px) {
  .description {
    font-size: 1rem;
  }
  .about-title {
    font-size: 1.5rem;
  }

  
}

@media (max-width: 480px) {
  .card {
    height: 240px;   
    margin: 30px 50px 10px;
  }

  .card i {
    font-size: 1.5rem;
  }

  .card .card-title {
    font-size: 1rem;
  }

  .card .card-text {
    font-size: 0.9rem;
  }
}