.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 300px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  padding: 20px;
  width: 1000px;
}

.card .left-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card i {
  font-size: 2.2rem;
}

.card .card-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary);
}

.card .card-text {
  letter-spacing: -0.8px;
}

@media (max-width: 1100px) {
  .card {
    width: 800px;
  }
}

@media (max-width: 900px) {
  .card {
    width: 600px;
  }

  .card i {
    font-size: 16px;
  }

  .card .card-title {
    font-size: 12px;
  }

  .card .card-text {
    font-size: 12px;
  }
}

@media (max-width: 720px) {
  .card {
    width: 400px;
    padding: 20px 10px;
  }

  .card .left-side {
    gap: 5px;
    margin-right: 10px;
  }

  .card i {
    font-size: 14px;
  }

  .card .card-title {
    font-size: 10px;
  }

  .card .card-text {
    font-size: 10px;
  }
}
