.page-container {
    margin-left: 200px;
    min-height: 35vw;
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    margin: 0px 60px;
    width: 250px;
    padding-top: 13vw;

}

.title {
    margin: 0 55px;
    display: flex;
    font-size: 3rem;
    color: black;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
    margin: 20px;
}

.hc {
    opacity: 0;
    animation: slideDown 1000ms forwards;
}

 .hc:nth-child(2){
    animation-delay: 0.2s;
}

.hc:nth-child(3){
    animation-delay: 0.3s;
}

.page-container a:link {
    text-decoration: none;
}

.emailMe {
    z-index: 5000;
    position: fixed;
    right: 20px;
    bottom: 80px;
    background-color: var(--primary);
    color: white;
    height: 100px;
    width: 80px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 1px 5px 1px black;
    transform: translatex(200px);
    transition: 500ms ease-in-out;
    padding: 20px;
}

.scrollEmail {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transform: translateY(100px);
    transition: 300ms ease-in-out;
    z-index: 1000;
}

.emailButton{
    transform: translateY(0px);
}

.popUp {
    transform: translateX(0px);
}

.emailMe .close {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.scrollEmail a:link {
    text-decoration: none;
}
  
  @media (max-width: 820px) {
    .page-container {
        margin-left: 35px;
    }
  }

  @media (max-width: 600px) {
    .page-container {
        display: flex;
        flex-direction: column;
    }

    .description-wrapper {
        flex-direction: row;
        justify-content: flex-start;
        margin: 20px 55px;
    }
    
    .logo {
        font-size: 4rem;
    }

    .title {
        font-size: 2rem;
    }
  }