.background {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-container .title {
  display: flex;
  color: var(--primary);
  letter-spacing: -0.05cm;
  font-weight: 700;
  font-size: clamp(2rem, 5vw + 1rem, 6rem);
  font-family: "Concert One", sans-serif;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
  margin: 20px;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1000px;
}

.intro-wrapper .description {
  color: var(--primary);
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1.125rem);
  width: 90vw;
  max-width: 1000px;
}

.intro-wrapper .description span {
  font-weight: 700;
}

.intro-wrapper .button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-wrapper button {
  border: 0;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.intro-wrapper button:hover {
  background-color: var(--gold);
}

.hc {
  opacity: 0;
  animation: slideDown 1000ms forwards;
}

.hc:nth-child(2) {
  animation-delay: 0.2s;
}

.hc:nth-child(3) {
  animation-delay: 0.3s;
}

.page-container a:link {
  text-decoration: none;
}

.scrollEmail {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transform: translateY(100px);
  transition: 300ms ease-in-out;
  z-index: 10;
}

.emailButton {
  transform: translateY(0px);
}

.scrollEmail a:link {
  text-decoration: none;
}
