.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 120vw;
    height: 2000px;
    z-index: 100;
}

.closeModal {
    display: flex;
    margin-right: 91rem;
    background-color: var(--secondary);
    font-size: 2rem;
    border-radius: 10px;
}

@media (max-width: 1355px) {
    .closeModal {
        margin-right: 73rem;
    }
}

@media (max-width: 1050px) {
    .closeModal {
        margin-right: 63.5rem;
    }
}

@media (max-width: 900px) {
    .closeModal {
        margin-right: 54rem;
    }
}

@media (max-width: 820px) {
    .closeModal {
        margin-right: 45rem;
    }
}

@media (max-width: 740px) {
    .closeModal {
        margin-right: 39rem;
    }
}

@media (max-width: 640px) {
    .closeModal {
        margin-right: 36rem;
    }
}

@media (max-width: 590px) {
    .closeModal {
        margin-right: 34.5rem;
    }
}

@media (max-width: 550px) {
    .closeModal {
        margin-right: 33rem;
    }
}

@media (max-width: 520px) {
    .closeModal {
        margin-right: 30rem;
    }
}

@media (max-width: 480px) {
    .closeModal {
        margin-right: 26rem;
    }
}

@media (max-width: 420px) {
    .closeModal {
        margin-right: 24rem;
    }
}

@media (max-width: 390px) {
    .closeModal {
        margin-right: 21rem;
    }
}

@media (max-width: 348px) {
    .closeModal {
        margin-right: 18rem;
    }
}