.projects-page-container {
    width: auto;
    margin-left: 200px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects-title {
    margin-left: 50px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    width: 300px;
    border-bottom: 2px solid black;
}

.project-description {
    margin: 40px 50px;
    display: flex;
    width: 70vw;
    font-size: 2rem;
    color: gray;
}

.projects-container {
    background-color: var(--secondary);
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: 0;
}

.mainImg {
    height: 400px;
    border-radius: 10px;    
    box-shadow: 0 0 20px black;
    transition: 100ms ease-in-out;
}

.largeImg {
    border-radius: 10px;
    width: 1300px;
    box-shadow: 0 0 20px black;
    transition: 100ms ease-in-out;
    animation: fade 500ms;
    margin-right: 200px;
}

.slideshow .prev,
.slideshow .next {
    border: 0;
    background-color: transparent;
    font-size: 2rem;
}

.slideshow button:hover {
    color: var(--gold);
    cursor: pointer;
}

.BTMLink {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1355px) {
    .largeImg {
        width: 1000px;
    }
}

@media (max-width: 1200px) {
    .mainImg {
        height: 300px;
    }
}

@media (max-width: 1050px) {
    .largeImg {
        width: 850px;
    }
}

@media (max-width: 950px) {
    .mainImg {
        height: 200px;
    }
}

@media (max-width: 900px) {
    .largeImg {
        width: 700px;
    }
}

@media (max-width: 820px) {
    .projects-page-container {
        margin-left: 35px;
    }

    .slideshow {
        margin-left: 20px;
    }

    .slideshow button {
        font-size: 1.3rem;
    }

    .largeImg {
        margin-right: 50px;
    }
}

@media (max-width: 740px) {
    .largeImg {
        width: 600px;
    }
}

  @media (max-width: 700px) {
    .project-description {
      margin-top: 20px;
      font-size: 1rem;
    }
    .projects-title {
        width: 200px;
        font-size: 1.5rem;
    }
  }

@media (max-width: 640px) {
    .largeImg {
        width: 560px;
    }
}

@media (max-width: 590px) {
    .largeImg {
        width: 530px;
    }
}

  @media (max-width: 580px) {
    .mainImg {
        height: 100px;
    }
  }

  @media (max-width: 550px) {
    .largeImg {
        width: 500px;
    }
}

@media (max-width: 520px) {
    .largeImg {
        width: 460px;
    }
}

@media (max-width: 480px) {
    .largeImg {
        width: 400px;
    }
}

@media (max-width: 420px) {
    .largeImg {
        width: 360px;
    }
}

@media (max-width: 390px) {
    .largeImg {
        width: 320px;
    }
}

@media (max-width: 348px) {
    .largeImg {
        width: 290px;
    }
}